Congratulations {{name}},

We’re delighted to extend this offer of employment for the position of {{position}} with {{company}}. 
Please review this summary of terms and conditions for your anticipated employment with us.

If you accept this offer, your start date will be {{start_date}} or another mutually agreed upon date
and you would report to {{supervisor}}. 

Please find below the terms and conditions of your employment, should you accept this offer letter.

Sincerely,
{{hiring_manager}}
