Dear {{name}},

We are pleased to offer you employment with {{company}}, Inc. (the “Company”) and we look forward
to you joining a team that is working to deliver results for our customers and our company.
{{company}} seeks to provide a work environment that fosters innovation, dedication and personal 
responsibility.

{{company}} offers a comprehensive employee benefits program, including:
* 10 built-in vacation days each year.
* {{vacation}} days of paid time off. 
* Health, dental, and vision.
* Short- and long-term disability.
